@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

:root {
  --color-bg1: rgb(97, 42, 174);
  --color-bg2: rgb(14, 29, 114);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 10, 100, 255;
  --circle-size: 70%;
  --blending: hard-light;
  --font: "Dongle", sans-serif;
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-hover: #EA63FF;
  --font-size-title-mobile: 60px;
  --font-size-title-tablet: 100px;
  --font-size-title-laptop: 120px;
  --font-size-title-desktop: 150px;
  --font-size-xs: 18px;
  --font-size-mobile: 24px;
  --font-size-tablet: 38px;
  --font-size-laptop: 48px;

}

html, body, input, textarea, button {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.background {
  width: 100vw;
  position: relative; 
  top: 0;
  left: 0;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  align-items: center;
  justify-content: center;
  text-align: center;

  // svg {
  //   display: none;
  // } 
}

.home-wrapper {

  @media screen and (min-width: 1024px) {
    margin-top: 180px;
  }
}

h1 {
  font-size: var(--font-size-title-mobile);
  font-style: normal;
  font-weight: 100;
  color: var(--color-white);
  margin: 0;
  padding: 0;


  @media (min-width: 768px) {
    font-size: var(--font-size-title-tablet)
  }

  @media (min-width: 1024px) {
    font-size: var(--font-size-title-laptop);
  }


  @media (min-width: 1440px) {
    font-size: var(--font-size-title-desktop);

  }
}

h2 {
  font-size: var(--font-size-title-mobile);
  font-style: normal;
  font-weight: 100;
  color: var(--color-white);
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    font-size: var(--font-size-title-tablet)
  }

}

p {
  font-size: var(--font-size-mobile);
  font-style: normal;
  font-weight: 100;
  color: var(--color-white);
  margin: 0;
  padding: 0;
  line-height: 1;


  @media (min-width: 768px) {
    font-size: var(--font-size-tablet)
  }

  @media (min-width: 1024px) {
    font-size: var(--font-size-laptop);
  }

}

